*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: sans-serif;
    margin: 20px;
}

#produtos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.produto{
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: center;
}

.produto img{
    max-width: 100%;
    height: auto;
}

#carrinho {
    list-style: none;
    padding: 0;
}

#carrinho li{
   margin-bottom: 10px;
}